<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Lof\MarketPlace\Controller\Seller\CreatePost">
		<plugin disabled="false" name="Lof_MarketPlaceRecaptcha_Plugin_Controller_Seller_CreatePost"
                sortOrder="1" type="Lof\MarketPlaceRecaptcha\Plugin\MarketPlace\Controller\Seller\CreatePost"/>
	</type>
</config>
